<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout-admin.html}">

<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35">data table</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--sm">
                        <select class="js-select2" name="time">
                            <option selected="selected">Today</option>
                            <option value="">3 Days</option>
                            <option value="">1 Week</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <button class="au-btn-filter">
                        <i class="zmdi zmdi-filter-list"></i>filters
                    </button>
                </div>
                <div class="table-data__tool-right">
                    <button onclick="document.getElementById('model-account').style.display='block'"
                            class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>Thêm
                    </button>
                    <div id="model-account" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="card">
                                <form th:action="@{/admin/accounts/add}" method="post" id="addNewForm">
                                    <div class="card-header">
                                            <span onclick="document.getElementById('model-account').style.display='none'"
                                                  class="w3-button w3-display-topright">&times;</span>
                                        <strong>Add</strong> Account
                                    </div>
                                    <div class="card-body card-block" th:object="${account}">
                                        <div class="form-group">
                                            <label for="fullName" class=" form-control-label">Full Name</label>
                                            <input th:field="*{fullName}" type="text" id="fullName" name="fullName"
                                                   class="form-control">
                                            <span class="help-block" hidden>Please enter your email</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class=" form-control-label">Username</label>
                                            <input th:field="*{username}" type="text" id="username" name="username"
                                                   class="form-control">
                                            <span class="help-block" hidden>Please enter your email</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="nf-email" class=" form-control-label">Email</label>
                                            <input th:field="*{email}" type="email" id="nf-email" name="nf-email"
                                                   class="form-control">
                                            <span class="help-block" hidden>Please enter your email</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="nf-password" class=" form-control-label">Password</label>
                                            <input th:field="*{password}" type="password" id="nf-password"
                                                   name="nf-password" class="form-control">
                                            <span class="help-block" hidden>Please enter your password</span>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>
                                        <button onclick="this.document.getElementById('addNewForm').onreset"
                                                type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                    <tr>
                        <th>
                            <label class="au-checkbox">
                                <input type="checkbox"/>
                                <span class="au-checkmark"></span>
                            </label>
                        </th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody th:each="a : ${accounts}">
                    <tr class="tr-shadow">
                        <td>
                            <label class="au-checkbox">
                                <input type="checkbox"/>
                                <span class="au-checkmark"></span>
                            </label>
                        </td>
                        <td th:text="${a.username}"></td>
                        <td>
                            <span class="block-email" th:text="${a.email}"></span>
                        </td>
                        <td class="desc" th:text="${a.fullName}"></td>
                        <td>Role</td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                    <i class="zmdi zmdi-mail-send"></i>
                                </button>
                                <a onclick="document.getElementById('model-account-update').style.display='block'"
                                   class="item" data-toggle="tooltip"
                                   data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit"></i>
                                </a>
                                <a th:href="@{/admin/accounts/delete/{username}(username=${a.username})}" class="item"
                                   data-toggle="tooltip"
                                   data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                    <i class="zmdi zmdi-more"></i>
                                </button>
                                <div id="model-account-update" class="w3-modal">
                                    <div class="w3-modal-content">
                                        <div class="card">
                                            <form th:action="@{/admin/accounts/update}" method="post" id="update-form">
                                                <div class="card-header">
                                            <span onclick="document.getElementById('model-account-update').style.display='none'"
                                                  class="w3-button w3-display-topright">&times;</span>
                                                    <strong>Update</strong> Account
                                                </div>
                                                <div class="card-body card-block" th:object="${account}">
                                                    <div class="form-group">
                                                        <label for="fullName" class=" form-control-label">Full
                                                            Name</label>
                                                        <input th:field="*{fullName}" type="text" id="fullName"
                                                               name="fullName" class="form-control">
                                                        <span class="help-block" hidden>Please enter your email</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="username"
                                                               class=" form-control-label">Username</label>
                                                        <input th:field="*{username}" type="text" id="username1"
                                                               name="username" class="form-control">
                                                        <span class="help-block" hidden>Please enter your email</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="nf-email" class=" form-control-label">Email</label>
                                                        <input th:field="*{email}" type="email" id="email"
                                                               name="nf-email" class="form-control">
                                                        <span class="help-block" hidden>Please enter your email</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="nf-password"
                                                               class=" form-control-label">Password</label>
                                                        <input th:field="*{password}" type="password" id="password"
                                                               name="nf-password" class="form-control">
                                                        <span class="help-block"
                                                              hidden>Please enter your password</span>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-dot-circle-o"></i> Submit
                                                    </button>
                                                    <button onclick="this.document.getElementById('update-form').onreset"
                                                            type="reset" class="btn btn-danger btn-sm">
                                                        <i class="fa fa-ban"></i> Reset
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <script>
        function loadAccount(id) {
            $.ajax({
                type: 'get',
                url: "@{/api/accounts/"+ id + "}",
                success: function (data){
                    $(".update-form").html(data)
                }
            })
        }
    </script>
</body>

</html>