<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout-admin.html}">

<head>
    <meta charset="UTF-8">
    <title>Account Management</title>

    <title>TinyMCE WYSIWYG Bootstrap</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#editor',
            plugins: 'lists, link, image, media',
            toolbar: 'h1 h2 bold italic strikethrough blockquote align numlist backcolor | link image media | removeformat help',
            menubar: true,
            setup: (editor) => {
                // Apply the focus effect
                editor.on("init", () => {
                    editor.getContainer().style.transition = "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
                });
                editor.on("focus", () => {
                    (editor.getContainer().style.boxShadow = "0 0 0 .2rem rgba(0, 123, 255, .25)"),
                        (editor.getContainer().style.borderColor = "#80bdff");
                });
                editor.on("blur", () => {
                    (editor.getContainer().style.boxShadow = ""),
                        (editor.getContainer().style.borderColor = "");
                });
            },
        });
    </script>
</head>

<body>
<div layout:fragment="content">
    <form th:action="@{/admin/posts/add}" method="post">
    <div class="row justify-content-md-center">
        <div class="col-lg-8 border border-white" style="background-color:white;" th:object="${post}">
                <div class="form-group">
                    <h5 class="mb-4 mt-5">Title</h5>
                    <input th:field="*{title}" type="text" name="title" class="form-control">
                    <span class="help-block" hidden>Please enter your Title</span>
                </div>
                <div class="form-group">
                    <!-- <label>Describe the issue in detail</label> -->
                    <div class="form-group mt-3">
                        <textarea th:field="*{content}" id="editor"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Public</button>
                </div>
        </div>
        <script>
            function chooseFile(fileInput) {
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#image').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(fileInput.files[0]);
                }

            }
        </script>
        <div class="col-sm-3 border border-white" style="background-color:white;margin-left: 50px;">
            <div class="form-group mt-5 text-center">
                <input type="hidden" name="username" th:value="${#request.userPrincipal.principal.username}">
                <h5>Người đăng: </h5><p>[[${#request.userPrincipal.principal.username}]]</p>
                <h5>Ngày đăng:
                    <p id="date"></p>
                </h5>
            </div>
            <hr>
            <div class="text-center">
                <div class="mt-5">
                    <img src="" alt="" id="image" width="200" height="200">
                    <input type="file" name="image" class="mt-5" id="imageFile" onchange="chooseFile(this)"
                           accept="image/gif,image/jpeg,image/png" multiple ="true">
                </div>
            </div>

            <hr>
            <div class="mt-5">
                <div class="form-check">
                    <h5>Thể loại:</h5>
                </div>
                <div class="form-check" th:each="c : ${categories}">
                    <input class="form-check-input" type="radio" name="category" th:value="${c.categoryId}">
                    <label class="form-check-label" th:text="${c.categoryTitle}">
                    </label>
                </div>
            </div>
        </div>
    </div>
    </form>


</div>

</body>

</html>