<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header-desktop" th:fragment="header">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST">
                    <input class="au-input au-input--xl" type="text" name="search"
                           placeholder="Tìm kiếm dữ liệu &amp; video..."/>
                    <button class="au-btn--submit" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>
                <div class="header-button">
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img th:src="@{/administration-stt/images/icon/avatar-01.jpg}"
                                     th:alt="${#request.userPrincipal.principal.username}"/>
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#">[[${#request.userPrincipal.principal.username}]]</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">[[${#request.userPrincipal.principal.username}]]</a>
                                        </h5>
                                        <span class="email"></span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>Tài khoản</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a th:href="@{/security/logoff}"> <i class="zmdi zmdi-power"></i>Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP-->
</body>
</html>